
/* App.css */

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
}

h1, h2 {
  color: #333;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

/* Flexbox for centering content */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Navigation Bar Styles */
.navbar {
  background-color: rgba(41, 43, 42, 0.766);
  color: white;
  padding: 10px;
}

.navbar a {
  color: white;
  margin-right: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}
